@media only screen and (max-width: 1005px) {
    
    /* aqui e o menu toggle*/
.menu-toggle{
    color: green;
    display: block;
    font-size: 20px;
    cursor: pointer;
}

.nav-bar{
display: none;
width: 100%;
flex-direction: column;
background-color: white;

    }
.nav-bar .active{
    display: block;
}

    .nav-bar ul{
        flex-direction: column;
        align-items: center;
        gap: 10px;
        }


.logo h1{
    font-size: 30px;
    text-align: start;
    align-items: center;
    text-align: center;}
 .hero{
    flex-direction: column;
 }
/*
 .hero-text{
    flex: 50%;
  background-color: aqua;
}


 .hero-text h1{
    font-size: 29px;
 }
 .hero-text h2{
    font-size: 20px;
     }
.hero-text p{
font-size: 18px;
}
.btn-hero{
    padding: 17px;
}*/

 
  .hero-img {
    margin-top: 29px;
 } 

 .sobre{
display: block; }
    /* .sobre-texto{
        flex: 40%;
         }
         .sobre-texto h2{

            font-size: 20px;
         }
         .sobre-texto p{
            font-size: 16px;
         }
    .sobre-img{
        flex: 40%;
    } */

}