@media only screen and (max-width: 1005px) {
    .nav-bar{
display: none;

    }
    /* .nav-bar ul{
        flex-direction: column;
        align-items: center;
        gap: 15px;
        } */
/* .nav-bar ul li{
    gap: 20px;
    padding: 12px;
} */

.logo{
    align-items: center;
    text-align: center;}
/* }
.hero{
    flex-direction: column;
}
.hero{
    margin-top: 130px;
}
.hero-text h1{
font-size: 40px;
font-weight: 900;

}
.hero-text h2{

    font-size: 32px;
    font-weight: none;
}
.hero-text p{g
    font-weight: 50;
    font-size: 30px;
}
.hero-img img{
    margin-top: 36px;
    border: 1px solid black;
}

.sobre-texto h2{
font-size: 60px;

}
.sobre-texto p{
font-size: 40px;
text-align: center;
} */
 .hero{
    display: block;
 }

 .sobre{
    display: block;
 }
    
 
}